<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prosper.clockgame.service.mapper.GameDataMapper">
    
    <insert id="insertOne" parameterType="GameData">
        INSERT INTO game_data
            (gameid, userid, step, value, finished) 
        VALUES 
            (#{gameId}, #{userId}, #{step}, #{value}, #{finished})
    </insert>

    <select id="getListByGameId" parameterType="long" resultType="GameData">
        SELECT id, gameid as gameId, userid as userId, step, value, finished
        FROM game_data
        WHERE gameid = #{gameId}
    </select>
    
    <select id="getOneByGameIdAndUserIdAndStep" parameterType="Map" resultType="GameData">
        SELECT id, gameid as gameId, userid as userId, step, value, finished
        FROM game_data
        WHERE gameid = #{gameId} and userid = #{userId} and step = #{step}
    </select>
    
    <update id="updateOne" parameterType="GameData">
        UPDATE game_data
        SET gameid = #{gameId}, userid = #{userId}, step = #{step}, value = #{value}, finished = #{finished}
        WHERE id = #{id}
    </update>

    
</mapper>
